@{
    ViewData["Title"] = "Choose Login or Signup";
}

<h2>Welcome!</h2>
<p>Please choose an option:</p>

<div>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
</div>

<div>
    <a href="@Url.Action("Register", "Account")" class="btn btn-secondary">Signup</a>
</div>
